<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>{{ title }}</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm">

        <table class="table">
            <thead>
              <tr>
                <th >Nom</th>
                <th >Prix USD</th>
                <th >Nombre</th>
                <th >TT USD</th>
              </tr>
            </thead>
            <tbody>
                <tr>
            <div *ngFor="let d of data.data;  let i=index">
                <div *ngFor="let crypto of this.cryptos;"> 
                    <div *ngIf="d.id == crypto.name">
                <td >{{d.id}}</td>
                <td >{{d.priceUsd | number:'1.1-2'}}</td>
                <td  >{{crypto.value}}</td>
                <td >{{crypto.value * d.priceUsd | number:'1.1-2' }}</td>

          </div >
        </div>
      </div>
    </tr>
  </tbody>
          </table>

        <!-- <ul class="list-group">
            <li class="list-group-item">
                <ng-container *ngFor="let d of data.data;  let i=index">
                    <div *ngFor="let crypto of this.cryptos;"> 
                        <div *ngIf="d.id == crypto.name">
                        <span>{{d.id}}</span>
                        <span class="badge badge-info badge-pill float-right">{{d.priceUsd | number:'1.1-2'}}</span>
                        <span class="float-none">{{crypto.value*d.priceUsd | number:'1.1-2' }}</span>
                      
                        </div>
                      </div>
                  </ng-container>
          </li>
        </ul> -->
    </div>

  </div>
</div>


